{% extends "layout.html" %}

{% block div1 %}
    <h1> Welcome to BOLT Iot Patient caller!</h1>
    <P> Being a doctor in a medical firm, tired of patients waiting for doctor response and sending verbal messages to patients. Now you can use appointment buzzer device which lights up and sounds and can be controlled from your phone or laptop.You can put device in the waiting area for the patients and as soon as the you (the doctor) are ready for the next patient, you are just one click away from you phone or laptop.</P>
{% endblock %}